## Import necessary libraries

In [622]:
import sqlite3
import pandas as pd
from pathlib import Path
import numpy as np
from scipy.stats import norm

## Defining the path to the database and connecting to the database

In [589]:
db_path = Path(r'n:\Projects\11209000\11209353\B. Measurements and calculations\008 - Resultaten Proefvlucht\ZZL\7-2\databases\database_bekleding_bovengrens\traject_7_2.db')
csv_path = Path(r'n:\Projects\11209000\11209353\B. Measurements and calculations\008 - Resultaten Proefvlucht\ZZL\7-2\databases\database_bekleding_bovengrens\Basisberekening')
conn = sqlite3.connect(db_path)

### open the CSVs for Taken Measures:

In [590]:
taken_measure_vrm = pd.read_csv(csv_path.joinpath('TakenMeasures_Veiligheidsrendement.csv'))
taken_measures_doorsnede = pd.read_csv(csv_path.joinpath('TakenMeasures_Doorsnede-eisen.csv'))

# to get rid of the first row (which is empty)
taken_measure_vrm = taken_measure_vrm.iloc[1:]
taken_measures_doorsnede = taken_measures_doorsnede.iloc[1:]

# the first column is Unnamed. Change the name to step_number
taken_measure_vrm.rename(columns={'Unnamed: 0': 'step_number'}, inplace=True)
taken_measures_doorsnede.rename(columns={'Unnamed: 0': 'step_number'}, inplace=True)

# the Section column has its values changed to floats, while they should be integers, change them to integers
taken_measure_vrm['Section'] = taken_measure_vrm['Section'].astype(int)
taken_measures_doorsnede['Section'] = taken_measures_doorsnede['Section'].astype(int)

In [591]:
taken_measure_vrm.head(10)

,step_number,Section,option_index,LCC,BC,ID,name,year,yes/no,dcrest,dberm,beta_target,transition_level
1,1,1,398.0,82487.617481,83210.600629,8,[],0,-999.0,-999.0,-999.0,5.248081,0.50
2,2,11,323.0,427142.793164,83210.600629,8,[],0,-999.0,-999.0,-999.0,3.748238,3.65
3,3,13,303.0,925669.952363,83210.600629,8,[],0,-999.0,-999.0,-999.0,0.746078,3.49
4,4,1,354.0,41243.808740,75748.342507,8,[],0,-999.0,-999.0,-999.0,2.998904,0.75
5,5,11,318.0,213571.396582,75748.342507,8,[],0,-999.0,-999.0,-999.0,2.998381,3.90
6,6,13,313.0,308556.650788,75748.342507,8,[],0,-999.0,-999.0,-999.0,1.496325,3.74
7,7,14,292.0,182801.607523,75748.342507,8,[],0,-999.0,-999.0,-999.0,0.857865,3.00
8,8,15,292.0,127935.932774,75748.342507,8,[],0,-999.0,-999.0,-999.0,0.670567,2.95
9,9,14,317.0,182801.607523,48989.355851,8,[],0,-999.0,-999.0,-999.0,2.785343,3.25
10,10,15,325.0,127935.932774,48989.355851,8,[],0,-999.0,-999.0,-999.0,3.334187,3.20

## Obtain a list of all tables in the database

In [592]:
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)

print("The database consists of the following", len(tables), "tables:")
print(tables)

The database consists of the following 35 tables:
                               name
0                   DikeTrajectInfo
1                       SectionData
2                         Mechanism
3               MechanismPerSection
4         AssessmentMechanismResult
5           AssessmentSectionResult
6                   ComputationType
7               ComputationScenario
8                         SlopePart
9            BlockRevetmentRelation
10                        Buildings
11          CharacteristicPointType
12                   CombinableType
13     ComputationScenarioParameter
14                      MeasureType
15                          Measure
16                    CustomMeasure
17           CustomMeasureParameter
18           GrassRevetmentRelation
19                MeasurePerSection
20                    MeasureResult
21           MeasureResultMechanism
22           MeasureResultParameter
23             MeasureResultSection
24                   MechanismTable
25                 OptimizationType
26                  OptimizationRun
27      OptimizationSelectedMeasure
28                 OptimizationStep
29  OptimizationStepResultMechanism
30    OptimizationStepResultSection
31                     ProfilePoint
32                  StandardMeasure
33                   SupportingFile
34                   WaterlevelData

## Retrieving the types of optimization

In [593]:
table_name_id = 26 # this is the OptimizationRun
sql_query = 'SELECT * FROM {}'.format(tables.iloc[table_name_id].values[0])
optimization_type = pd.read_sql_query(sql_query, conn)
optimization_type_dict = dict(zip(optimization_type["name"], optimization_type["optimization_type_id"]))
print(optimization_type_dict)

{'Basisberekening Veiligheidsrendement': 1, 'Basisberekening Doorsnede-eisen': 2}

## Retrieve from the database tab "OptimizationSelectedMeasure" the id and investment_year 
####  optimization_run_id = 1 for VRM, 
#### optimization_run_id = 2 for DSM

In [594]:
optimization_run_id = 1

sql_query = 'SELECT * FROM OptimizationRun WHERE optimization_type_id = {}'.format(optimization_run_id)
optimization_run = pd.read_sql_query(sql_query, conn)
discount_rate = optimization_run["discount_rate"].values[0]
sql_query = 'SELECT * FROM OptimizationSelectedMeasure WHERE optimization_run_id = {}'.format(optimization_run_id)
selected_optimization_measure = pd.read_sql_query(sql_query, conn)

## create a list of ids in the selected_optimization_measure

In [595]:
selected_measure_ids = selected_optimization_measure["id"].tolist()

## Retrieve from the database tab "OptimizationStep" all rows where optimization_selected_measure_id is in selected_measure_ids

In [596]:
sql_query = 'SELECT * FROM OptimizationStep WHERE optimization_selected_measure_id IN ({})'.format(
    ', '.join([str(i) for i in selected_measure_ids]))
optimization_step = pd.read_sql_query(sql_query, conn)
# sort optimizationStep by id
optimization_step = optimization_step.sort_values(by="id")
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk
7,1,399,1,8.248762e+04,5.078556e+11
67,2,3148,2,5.096304e+05,4.795481e+11
79,3,3467,3,1.435300e+06,4.413895e+11
5,4,355,4,1.476544e+06,4.138515e+11
66,5,3143,5,1.690116e+06,3.944441e+11

## retrieve from the database tab "OptimizationSelectedMeasure" all rows where optimization_selected_measure_id is in selected_measure_ids

In [597]:
sql_query = 'SELECT * FROM OptimizationSelectedMeasure WHERE id IN ({})'.format(
    ', '.join([str(i) for i in optimization_step["optimization_selected_measure_id"].tolist()]))
optimization_selected_measure = pd.read_sql_query(sql_query, conn)
optimization_selected_measure.head()

    id  optimization_run_id  measure_result_id  investment_year
0    3                    1                  2                0
1  312                    1                168                0
2  314                    1                170                0
3  315                    1                171                0
4  317                    1                173                0

## add the measure_result_id + investment_year to the optimization_step dataframe. These can be found in the 
## optimization_selected_measure dataframe

In [598]:
optimization_step = pd.merge(optimization_step, optimization_selected_measure[["id", "measure_result_id", "investment_year"]],
                                left_on="optimization_selected_measure_id", right_on="id", how="left")
# drop the "id_y" column
optimization_step = optimization_step.drop(columns="id_y")
optimization_step = optimization_step.rename(columns={"id_x": "id"})
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year
0,1,399,1,8.248762e+04,5.078556e+11,255,0
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0
3,4,355,4,1.476544e+06,4.138515e+11,211,0
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0

In [599]:
# print how many investments are done in year t = 0 and t = 20
print("investments done in year t=0:")
print(np.sum(optimization_step.investment_year==0))
print("investments done in year t=20:")
print(np.sum(optimization_step.investment_year==20))

investments done in year t=0:
448
investments done in year t=20:
23

## Add MeasureResult where id matches optimization_step["measure_result_id"] to the optimization_step dataframe
## Then, add the "name" column from the measure_result dataframe to the optimization_step dataframe

In [600]:
sql_query = 'SELECT * FROM MeasureResult WHERE id IN ({})'.format(
    ', '.join([str(i) for i in optimization_step["measure_result_id"].tolist()]))
measure_result = pd.read_sql_query(sql_query, conn)

optimization_step = pd.merge(optimization_step, measure_result[["id", "measure_per_section_id"]],
                                left_on="measure_result_id", right_on="id", how="left")
# drop the "id_y" column
optimization_step = optimization_step.drop(columns="id_y")
optimization_step = optimization_step.rename(columns={"id_x": "id"})
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54

In [601]:
# add MeasurePerSection where id matches optimization_step["measure_per_section_id"] to the optimization_step dataframe
sql_query = 'SELECT * FROM MeasurePerSection WHERE id IN ({})'.format(
    ', '.join([str(i) for i in optimization_step["measure_per_section_id"].tolist()]))
measure_per_section = pd.read_sql_query(sql_query, conn)
# add the "section_id", "measure_id" column from the measure_per_section dataframe to the optimization_step dataframe
optimization_step = pd.merge(optimization_step, measure_per_section[["id", "section_id", "measure_id"]],
                                left_on="measure_per_section_id", right_on="id", how="left")
# drop the "id_y" column
optimization_step = optimization_step.drop(columns="id_y")
optimization_step = optimization_step.rename(columns={"id_x": "id"})
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8

In [602]:
# Where id in SectionData matches section_id in optimization_step dataframe, add the "section_name" column to the
# optimization_step dataframe
sql_query = 'SELECT * FROM SectionData WHERE id IN ({})'.format(
    ', '.join([str(i) for i in optimization_step["section_id"].tolist()]))
section_data = pd.read_sql_query(sql_query, conn)
# add the "section_name" column from the section_data dataframe to the optimization_step dataframe
optimization_step = pd.merge(optimization_step, section_data[["id", "section_name"]],
                                left_on="section_id", right_on="id", how="left")
# drop the "id_y" column
optimization_step = optimization_step.drop(columns="id_y")
# rename the "id_x" column to "id"
optimization_step = optimization_step.rename(columns={"id_x": "id"})
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,section_name
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8,1
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8,11
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8,13
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8,1
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8,11

In [603]:
# Where id in Measure matches measure_id  in optimization_step dataframe, add all columns (except id) to the
# optimization_step dataframe
sql_query = 'SELECT * FROM Measure WHERE id IN ({})'.format(
    ', '.join([str(i) for i in optimization_step["measure_id"].tolist()]))
measure = pd.read_sql_query(sql_query, conn)
# add the "section_name" column from the section_data dataframe to the optimization_step dataframe
optimization_step = pd.merge(optimization_step, measure, left_on="measure_id", right_on="id", how="left")
# drop the "id_y" column
optimization_step = optimization_step.drop(columns="id_y")
# rename the "id_x" column to "id"
optimization_step = optimization_step.rename(columns={"id_x": "id"})
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,section_name,measure_type_id,combinable_type_id,name,year
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8,1,6,4,Aanpassing bekleding,0
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8,11,6,4,Aanpassing bekleding,0
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8,13,6,4,Aanpassing bekleding,0
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8,1,6,4,Aanpassing bekleding,0
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8,11,6,4,Aanpassing bekleding,0

## Now we want to find the parameters corresponding the measure_result_id and add them to the dataframe.
### First, we add all parameters to the dataframe as a column
### After that, add "empty" columns to the optimization_step dataframe that contain -999.0 values. 
### These values will be later replaced with the parameters

In [604]:
sql_query = 'SELECT DISTINCT name FROM MeasureResultParameter'
measure_result_parameter = pd.read_sql_query(sql_query, conn)
print(measure_result_parameter["name"].tolist())

for name in measure_result_parameter["name"].tolist():
    optimization_step[name] = -999.0

optimization_step.head()

['DCREST', 'DBERM', 'BETA_TARGET', 'TRANSITION_LEVEL']

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,section_name,measure_type_id,combinable_type_id,name,year,DCREST,DBERM,BETA_TARGET,TRANSITION_LEVEL
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8,1,6,4,Aanpassing bekleding,0,-999.0,-999.0,-999.0,-999.0
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8,11,6,4,Aanpassing bekleding,0,-999.0,-999.0,-999.0,-999.0
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8,13,6,4,Aanpassing bekleding,0,-999.0,-999.0,-999.0,-999.0
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8,1,6,4,Aanpassing bekleding,0,-999.0,-999.0,-999.0,-999.0
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8,11,6,4,Aanpassing bekleding,0,-999.0,-999.0,-999.0,-999.0

In [605]:
# now find for each id in optimization_step database where "measure_result_id" corresponds with "measure_result_id" in
# MeasureResultParameter. If the name in the column "name" in MeasureResultParameter corresponds with a column in
# optimization_step, fill the value from the "value" column in MeasureResultParameter in the corresponding column in
# optimization_step 
sql_query = 'SELECT * FROM MeasureResultParameter WHERE measure_result_id IN ({})'.format(
    ', '.join([str(i) for i in optimization_step["measure_result_id"].tolist()]))
measure_result_parameter = pd.read_sql_query(sql_query, conn)
for index, row in measure_result_parameter.iterrows():
    if row["name"] in optimization_step.columns:
        optimization_step.loc[optimization_step["measure_result_id"] == row["measure_result_id"], row["name"]] = row["value"]
        
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,section_name,measure_type_id,combinable_type_id,name,year,DCREST,DBERM,BETA_TARGET,TRANSITION_LEVEL
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8,1,6,4,Aanpassing bekleding,0,-999.0,-999.0,5.248081,0.50
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8,11,6,4,Aanpassing bekleding,0,-999.0,-999.0,3.748238,3.65
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8,13,6,4,Aanpassing bekleding,0,-999.0,-999.0,0.746078,3.49
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8,1,6,4,Aanpassing bekleding,0,-999.0,-999.0,2.998904,0.75
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8,11,6,4,Aanpassing bekleding,0,-999.0,-999.0,2.998381,3.90

In [625]:
# retreive initial risk from the database. This is done by multiplying the initial damage costs with the initial probability. First, find 
# the initial damage costs in DikeTrajectInfo: select flood_damage:
sql_query = 'SELECT * FROM DikeTrajectInfo'
dike_traject_info = pd.read_sql_query(sql_query, conn)
flood_damage = dike_traject_info["flood_damage"].values[0]
print(flood_damage)

# now the initial failure probability is a bit more tricky. It is the sum of the failure probabilities of all sections
# in AssessmentSectionResult where time=0.
sql_query = 'SELECT * FROM AssessmentSectionResult WHERE time=0'
assessment_section_result = pd.read_sql_query(sql_query, conn)

# derive the failure probability, we now still have betas: pf = norm.cdf(-beta)
assessment_section_result["pf"] = norm.cdf(-assessment_section_result["beta"])
print(assessment_section_result["pf"])
print("max failure =", max(assessment_section_result["pf"]))
print("Initial risk =", max(assessment_section_result["pf"]) * flood_damage)

# TO DO: simply multiplying won't do the trick, the risk is discounte over the years (using the discount rate) and the probability also increases in time

17000000000.0
0     0.500003
1     0.000015
2     0.000007
3     0.001438
4     0.000421
5     0.015516
6     0.000426
7     0.099121
8     0.500435
9     0.501679
10    0.195506
11    0.251271
12    0.035382
13    0.018796
14    0.000423
15    0.011414
16    0.023337
17    0.026489
18    0.024987
19    0.028844
20    0.055780
21    0.001852
22    0.000419
23    0.000450
24    0.000552
25    0.000500
26    0.000602
27    0.001004
28    0.000478
29    0.000139
30    0.000091
31    0.000063
32    0.000225
33    0.000194
34    0.000079
Name: pf, dtype: float64
max failure = 0.5016787433335955
Initial risk = 8528538636.6711235

In [618]:
# Determine marginal cost of reinforcement per optimization step
optimization_step["marginal_cost"] = optimization_step["total_lcc"].diff()
optimization_step["marginal_cost"].fillna(optimization_step["total_lcc"], inplace=True)

# Determine risk reduction per optimization step
optimization_step["risk_reduction"] = -optimization_step["total_risk"].diff()
optimization_step["risk_reduction"].fillna(optimization_step["total_risk"], inplace=True)

# determine the BC-ratio. In some cases a NaN is found, if there are multiple rows with the same step_number. In that case,
# fill with the value that is not NaN which has the same step_number
optimization_step["bc"] = optimization_step["risk_reduction"]/optimization_step["marginal_cost"]
optimization_step["bc"].fillna(method="ffill", inplace=True)
# TODO: the first BC should be corrected. It is dependend on the initial risk: dike traject (beta_initial --> Pf_initial) * (total_risk_initial = 

optimization_step.head(10)

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,...,combinable_type_id,name,year,DCREST,DBERM,BETA_TARGET,TRANSITION_LEVEL,marginal_cost,risk_reduction,bc
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8,...,4,Aanpassing bekleding,0,-999.0,-999.0,5.248081,0.50,82487.617481,5.078556e+11,6.156750e+06
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8,...,4,Aanpassing bekleding,0,-999.0,-999.0,3.748238,3.65,427142.793164,2.830753e+10,6.627181e+04
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8,...,4,Aanpassing bekleding,0,-999.0,-999.0,0.746078,3.49,925669.952363,3.815856e+10,4.122264e+04
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8,...,4,Aanpassing bekleding,0,-999.0,-999.0,2.998904,0.75,41243.808740,2.753799e+10,6.676878e+05
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8,...,4,Aanpassing bekleding,0,-999.0,-999.0,2.998381,3.90,213571.396582,1.940739e+10,9.087075e+04
5,6,3477,6,1.998672e+06,3.645157e+11,2037,0,60,10,8,...,4,Aanpassing bekleding,0,-999.0,-999.0,1.496325,3.74,308556.650788,2.992847e+10,9.699507e+04
6,7,3819,7,2.181474e+06,3.508978e+11,2235,0,66,11,8,...,4,Aanpassing bekleding,0,-999.0,-999.0,0.857865,3.00,182801.607523,1.361790e+10,7.449549e+04
7,8,4174,8,2.309410e+06,3.411011e+11,2446,0,72,12,8,...,4,Aanpassing bekleding,0,-999.0,-999.0,0.670567,2.95,127935.932774,9.796711e+09,7.657513e+04
8,9,3844,9,2.492211e+06,3.353647e+11,2260,0,66,11,8,...,4,Aanpassing bekleding,0,-999.0,-999.0,2.785343,3.25,182801.607523,5.736346e+09,3.138017e+04
9,10,4207,10,2.620147e+06,3.281730e+11,2479,0,72,12,8,...,4,Aanpassing bekleding,0,-999.0,-999.0,3.334187,3.20,127935.932774,7.191696e+09,5.621326e+04

In [617]:
# determine the cost benefit ratio

In [508]:
# find the cost from MeasureResultSection where the measure_result_id matches measure_result_id in optimization_step df
# Then select only the cost where time = 0 and add these to a new column in optimization_step
sql_query = 'SELECT * FROM MeasureResultSection WHERE measure_result_id IN ({})'.format(
    ', '.join([str(i) for i in optimization_step["measure_result_id"].tolist()]))
measure_result_section = pd.read_sql_query(sql_query, conn)
measure_result_section = measure_result_section[measure_result_section["time"] == 0] 
optimization_step = pd.merge(optimization_step, measure_result_section[["measure_result_id", "cost"]],
                                left_on="measure_result_id", right_on="measure_result_id", how="left")

# rename cost to standalone_cost
optimization_step = optimization_step.rename(columns={"cost": "standalone_cost"})
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,section_name,measure_type_id,combinable_type_id,name,year,DCREST,DBERM,BETA_TARGET,TRANSITION_LEVEL,standalone_cost
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8,1,6,4,Aanpassing bekleding,0,-999.0,-999.0,5.248081,0.50,82487.617481
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8,11,6,4,Aanpassing bekleding,0,-999.0,-999.0,3.748238,3.65,427142.793164
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8,13,6,4,Aanpassing bekleding,0,-999.0,-999.0,0.746078,3.49,925669.952363
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8,1,6,4,Aanpassing bekleding,0,-999.0,-999.0,2.998904,0.75,123731.426221
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8,11,6,4,Aanpassing bekleding,0,-999.0,-999.0,2.998381,3.90,640714.189747

In [509]:
# get a list of the unique sorted section_id in optimization_step
section_id_list = np.sort(optimization_step["section_id"].unique())
print(section_id_list)
# get a list of the unique sorted measure_type_id in optimization_step
measure_type_id_list = np.sort(optimization_step["measure_type_id"].unique())
print(measure_type_id_list)

# now add a column "marginal_cost" to optimization_step and fill it with the value -999.0
optimization_step["marginal_cost"] = -999.0
# for each section_id in section_id_list, find the rows in optimization_step where section_id == section_id. The 
# marginal_cost is the difference between the standalone_cost of the current row and the standalone_cost of the previous
# with the same measure_type_id. If there is no previous row with the same measure_type_id, the marginal_cost is the same
# as the standalone_cost. Fill the marginal_cost column with the calculated values.
# for section_id in section_id_list:
    # for measure_type_id in measure_type_id_list:
        # mask = (optimization_step["section_id"] == section_id) & (optimization_step["measure_type_id"] == measure_type_id)
        # optimization_step.loc[mask, "marginal_cost"] = (optimization_step[mask]["standalone_cost"].diff()/((1+discount_rate)**optimization_step[mask]["investment_year"]))
        # optimization_step.loc[mask, "marginal_cost"] = optimization_step[mask]["marginal_cost"].fillna(optimization_step[mask]["standalone_cost"]/((1+discount_rate)**optimization_step[mask]["investment_year"]))

for section_id in section_id_list:
    mask = optimization_step["section_id"] == section_id
    for measure_type_id in measure_type_id_list:
        mask = (optimization_step["section_id"] == section_id) & (optimization_step["measure_type_id"] == measure_type_id)
        # loop through the mask. Set the marginal_cost to the standalone_cost if the previous row has a different
        # measure_type_id or if the previous row has a different investment_year
        index = optimization_step[mask].index
        for i in range(len(index)):
            if i == 0: # this is the first measure applied to a section
                optimization_step.loc[index[i], "marginal_cost"] = (optimization_step.loc[index[i], "standalone_cost"]/((1+discount_rate)**optimization_step.loc[index[i], "investment_year"]))
            else:
                if optimization_step.loc[index[i], "measure_type_id"] == optimization_step.loc[index[i - 1], "measure_type_id"] and \
                        optimization_step.loc[index[i], "investment_year"] != optimization_step.loc[index[i - 1], "investment_year"]:
                    optimization_step.loc[index[i], "marginal_cost"] = optimization_step.loc[index[i], "standalone_cost"] - optimization_step.loc[index[i-1], "marginal_cost"]
                else:
                    optimization_step.loc[index[i], "marginal_cost"] = (optimization_step.loc[index[i], "standalone_cost"] - optimization_step.loc[index[i-1], "standalone_cost"])/((1+discount_rate)**optimization_step.loc[index[i], "investment_year"])

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35]
[1 6]

In [510]:
optimization_step.head()

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,...,measure_type_id,combinable_type_id,name,year,DCREST,DBERM,BETA_TARGET,TRANSITION_LEVEL,standalone_cost,marginal_cost
0,1,399,1,8.248762e+04,5.078556e+11,255,0,6,1,8,...,6,4,Aanpassing bekleding,0,-999.0,-999.0,5.248081,0.50,82487.617481,82487.617481
1,2,3148,2,5.096304e+05,4.795481e+11,1852,0,54,9,8,...,6,4,Aanpassing bekleding,0,-999.0,-999.0,3.748238,3.65,427142.793164,427142.793164
2,3,3467,3,1.435300e+06,4.413895e+11,2027,0,60,10,8,...,6,4,Aanpassing bekleding,0,-999.0,-999.0,0.746078,3.49,925669.952363,925669.952363
3,4,355,4,1.476544e+06,4.138515e+11,211,0,6,1,8,...,6,4,Aanpassing bekleding,0,-999.0,-999.0,2.998904,0.75,123731.426221,41243.808740
4,5,3143,5,1.690116e+06,3.944441e+11,1847,0,54,9,8,...,6,4,Aanpassing bekleding,0,-999.0,-999.0,2.998381,3.90,640714.189747,213571.396582

In [511]:
# copy optimization_step to a new dataframe called "df_copy"
df_copy = optimization_step.copy()
# sort by optimization_selected_measure_id
df_copy = df_copy.sort_values(by="step_number")
# print df_copy where optimization_selected_measure_id ==703
print(df_copy[df_copy["section_id"] == 33])

      id  optimization_selected_measure_id  step_number     total_lcc  \
134  135                             11122          117  2.235833e+07
135  136                             11421          117  2.235833e+07
148  149                             11121          124  2.674686e+07
149  150                             11421          124  2.674686e+07
193  194                             11137          157  9.442795e+07
194  195                             11426          157  9.442795e+07
246  247                             11139          184  1.122977e+08
247  248                             11396          184  1.122977e+08
270  271                             11155          196  1.298091e+08
271  272                             11396          196  1.298091e+08
410  411                             11426          267  2.077650e+08
409  410                             11171          267  2.077650e+08

       total_risk  measure_result_id  investment_year  measure_per_section_id  \
134  5.300744e+09               6505               20                     193
135  5.300744e+09               6669                0                     198
148  5.246224e+09               6505                0                     193
149  5.246224e+09               6669                0                     198
193  1.375174e+08               6513                0                     193
194  1.375174e+08               6674                0                     198
246  1.013702e+08               6514                0                     193
247  1.013702e+08               6644                0                     198
270  9.372644e+07               6522                0                     193
271  9.372644e+07               6644                0                     198
410  3.814512e+07               6674                0                     198
409  3.814512e+07               6530                0                     193

     section_id  measure_id  ... measure_type_id  combinable_type_id  \
134          33           1  ...               1                   2
135          33           8  ...               6                   4
148          33           1  ...               1                   2
149          33           8  ...               6                   4
193          33           1  ...               1                   2
194          33           8  ...               6                   4
246          33           1  ...               1                   2
247          33           8  ...               6                   4
270          33           1  ...               1                   2
271          33           8  ...               6                   4
410          33           8  ...               6                   4
409          33           1  ...               1                   2

                              name year  DCREST  DBERM  BETA_TARGET  \
134  Grondversterking binnenwaarts    0    0.25    0.0  -999.000000
135           Aanpassing bekleding    0 -999.00 -999.0     5.484418
148  Grondversterking binnenwaarts    0    0.25    0.0  -999.000000
149           Aanpassing bekleding    0 -999.00 -999.0     5.484418
193  Grondversterking binnenwaarts    0    0.50    0.0  -999.000000
194           Aanpassing bekleding    0 -999.00 -999.0     5.655548
246  Grondversterking binnenwaarts    0    0.50    5.0  -999.000000
247           Aanpassing bekleding    0 -999.00 -999.0     4.628770
270  Grondversterking binnenwaarts    0    0.75    5.0  -999.000000
271           Aanpassing bekleding    0 -999.00 -999.0     4.628770
410           Aanpassing bekleding    0 -999.00 -999.0     5.655548
409  Grondversterking binnenwaarts    0    1.00    5.0  -999.000000

     TRANSITION_LEVEL  standalone_cost  marginal_cost
134           -999.00     3.483385e+06   1.928666e+06
135              2.05     0.000000e+00   0.000000e+00
148           -999.00     3.483385e+06   1.554719e+06
149              2.05     0.000000e+00   0.000000e+00
193           -999.00     5.188629e+06   1.705244e+06
194              2.05     0.000000e+00   0.000000e+00
246           -999.00     6.013619e+06   8.249904e+05
247              2.05     0.000000e+00   0.000000e+00
270           -999.00     7.797427e+06   1.783808e+06
271              2.05     0.000000e+00   0.000000e+00
410              2.05     0.000000e+00   0.000000e+00
409           -999.00     9.659800e+06   1.862373e+06

[12 rows x 21 columns]

In [512]:
# determine the total cost as a check. Per step_number add the total costs from the previous step
optimization_step["check_cost_total"] = -999.0
# loop through the unique and sorted values of step_number in optimization_step
for step_number in np.sort(optimization_step["step_number"].unique()):
    # sum marginal costs of the current step_number
    step_cost = optimization_step[optimization_step["step_number"] == step_number]["marginal_cost"].sum()
    # fill the check_cost_total column with the calculated values + the check_cost_total of the previous step_number
    # if there is no previous step_number, fill the check_cost_total with the calculated value
    if step_number == 1:
        optimization_step.loc[optimization_step["step_number"] == step_number, "check_cost_total"] = step_cost
    else:
        optimization_step.loc[optimization_step["step_number"] == step_number, "check_cost_total"] = step_cost + optimization_step[optimization_step["step_number"] == step_number - 1]["check_cost_total"].values[0]

In [513]:
section_id = 30
measure_type_id = 1
mask = (optimization_step["section_id"] == section_id) & (optimization_step["measure_type_id"] == measure_type_id)
# print(optimization_step[mask])
# print("length:", len(optimization_step[mask]))
# print("ids", optimization_step[mask]["id"])
# steps = optimization_step[mask]["step_number"]
y = optimization_step[mask].index
print(optimization_step[mask].index)
for index, counter in zip(y, range(len(y))):
    print(index,counter)
# steps = np.sort(optimization_step[mask]["step_number"].unique())
# print(steps)
# for i in range(1, len(optimization_step[mask])):
    # if (optimization_step["measure_type_id"])&())
# print(sum(mask))
print(optimization_step[mask])

Int64Index([146, 152, 187, 211, 221, 236, 353, 453], dtype='int64')
146 0
152 1
187 2
211 3
221 4
236 5
353 6
453 7
      id  optimization_selected_measure_id  step_number     total_lcc  \
146  147                             10217          123  2.519214e+07
152  153                             10207          126  2.715929e+07
187  188                             10200          154  9.098261e+07
211  212                             10216          166  9.879264e+07
221  222                             10218          171  1.054199e+08
236  237                             10234          179  1.094279e+08
353  354                             10250          239  1.767603e+08
453  454                             10266          289  2.390999e+08

       total_risk  measure_result_id  investment_year  measure_per_section_id  \
146  5.252657e+09               6024               20                     175
152  5.238923e+09               6019               20                     175
187  1.513488e+08               6016                0                     175
211  1.337753e+08               6024                0                     175
221  1.134861e+08               6025                0                     175
236  1.035534e+08               6033                0                     175
353  4.878425e+07               6041                0                     175
453  3.731628e+07               6049                0                     175

     section_id  measure_id  ... combinable_type_id  \
146          30           1  ...                  2
152          30           1  ...                  2
187          30           1  ...                  2
211          30           1  ...                  2
221          30           1  ...                  2
236          30           1  ...                  2
353          30           1  ...                  2
453          30           1  ...                  2

                              name  year DCREST  DBERM  BETA_TARGET  \
146  Grondversterking binnenwaarts     0   0.50    0.0       -999.0
152  Grondversterking binnenwaarts     0   0.25   10.0       -999.0
187  Grondversterking binnenwaarts     0   0.25    0.0       -999.0
211  Grondversterking binnenwaarts     0   0.50    0.0       -999.0
221  Grondversterking binnenwaarts     0   0.50    5.0       -999.0
236  Grondversterking binnenwaarts     0   0.75    5.0       -999.0
353  Grondversterking binnenwaarts     0   1.00    5.0       -999.0
453  Grondversterking binnenwaarts     0   1.25    5.0       -999.0

     TRANSITION_LEVEL  standalone_cost  marginal_cost  check_cost_total
146            -999.0     2.211807e+06   1.224624e+06      2.519214e+07
152            -999.0     2.305430e+06   5.183671e+04      2.715929e+07
187            -999.0     1.557988e+06   1.506151e+06      9.220723e+07
211            -999.0     2.211807e+06   6.538190e+05      1.007464e+08
221            -999.0     2.585528e+06   3.737209e+05      1.073737e+08
236            -999.0     3.256919e+06   6.713910e+05      1.113816e+08
353            -999.0     3.945882e+06   6.889630e+05      1.846838e+08
453            -999.0     4.652417e+06   7.065350e+05      2.663291e+08

[8 rows x 22 columns]

In [514]:
print(optimization_step["check_cost_total"] == optimization_step["total_lcc"])
print("difference between costs in database and costs derived is", optimization_step["check_cost_total"].values[-1] - optimization_step["total_lcc"].values[-1])
optimization_step.tail()

0       True
1       True
2       True
3       True
4       True
       ...
466    False
467    False
468    False
469    False
470    False
Length: 471, dtype: bool
difference between costs in database and costs derived is 27229147.18453607

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,...,combinable_type_id,name,year,DCREST,DBERM,BETA_TARGET,TRANSITION_LEVEL,standalone_cost,marginal_cost,check_cost_total
466,467,703,295,2.426556e+08,3.380783e+07,415,0,12,2,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,4.821829,2.05,0.000000e+00,0.000000,2.698848e+08
467,468,6411,296,2.428164e+08,3.379143e+07,3785,0,109,19,1,...,2,Grondversterking binnenwaarts,0,1.00,8.0,-999.000000,-999.00,2.649165e+06,160767.360000,2.700456e+08
468,469,6696,296,2.428164e+08,3.379143e+07,3960,0,114,19,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,4.988586,4.60,1.830285e+06,0.000000,2.700456e+08
469,470,3577,297,2.437955e+08,3.369290e+07,2112,0,61,11,1,...,2,Grondversterking binnenwaarts,0,0.75,5.0,-999.000000,-999.00,5.956928e+06,979055.397583,2.710246e+08
470,471,3873,297,2.437955e+08,3.369290e+07,2289,0,66,11,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,4.712822,4.50,5.304726e+06,0.000000,2.710246e+08

In [515]:
# step_number_list = optimization_step[optimization_step["total_lcc"] != optimization_step["check_cost_total"]]["step_number"].unique()
# print(step_number_list)

# for section_id in section_id_list:
#     mask = optimization_step["section_id"] == section_id
#     for measure_type_id in measure_type_id_list:
#         mask = (optimization_step["section_id"] == section_id) & (optimization_step["measure_type_id"] == measure_type_id)
#         # loop through the mask. Set the marginal_cost to the standalone_cost if the previous row has a different
#         # measure_type_id or if the previous row has a different investment_year
#         for index, row in optimization_step[mask].iterrows():
#             print(index, index-1)
#         print()

In [536]:
# optimization_step.loc[(optimization_step.step_number > 115) & (optimization_step.step_number < 128)]
optimization_step.iloc[185:190]
# optimization_step.loc[optimization_step.measure_result_id == ]

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,...,combinable_type_id,name,year,DCREST,DBERM,BETA_TARGET,TRANSITION_LEVEL,standalone_cost,marginal_cost,check_cost_total
185,186,9508,153,9.070108e+07,1.515905e+08,5619,0,163,28,1,...,2,Grondversterking binnenwaarts,0,0.00,5.0,-999.000000,-999.00,3.007782e+04,0.000000e+00,9.070108e+07
186,187,9814,153,9.070108e+07,1.515905e+08,5782,0,168,28,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,3.458466,2.50,1.377185e+04,2.295308e+03,9.070108e+07
187,188,10200,154,9.098261e+07,1.513488e+08,6016,0,175,30,1,...,2,Grondversterking binnenwaarts,0,0.25,0.0,-999.000000,-999.00,1.557988e+06,1.506151e+06,9.220723e+07
188,189,10475,154,9.098261e+07,1.513488e+08,6155,0,180,30,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,4.584790,3.25,0.000000e+00,0.000000e+00,9.220723e+07
189,190,8529,155,9.157036e+07,1.481233e+08,5065,0,145,25,1,...,2,Grondversterking binnenwaarts,0,0.25,0.0,-999.000000,-999.00,1.316855e+06,1.316855e+06,9.352409e+07

In [543]:
df= optimization_step.loc[(optimization_step.section_id == 30) & (optimization_step.measure_type_id == 1)] # measure_result_id = 6016
df

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,...,combinable_type_id,name,year,DCREST,DBERM,BETA_TARGET,TRANSITION_LEVEL,standalone_cost,marginal_cost,check_cost_total
146,147,10217,123,2.519214e+07,5.252657e+09,6024,20,175,30,1,...,2,Grondversterking binnenwaarts,0,0.50,0.0,-999.0,-999.0,2.211807e+06,1.224624e+06,2.519214e+07
152,153,10207,126,2.715929e+07,5.238923e+09,6019,20,175,30,1,...,2,Grondversterking binnenwaarts,0,0.25,10.0,-999.0,-999.0,2.305430e+06,5.183671e+04,2.715929e+07
187,188,10200,154,9.098261e+07,1.513488e+08,6016,0,175,30,1,...,2,Grondversterking binnenwaarts,0,0.25,0.0,-999.0,-999.0,1.557988e+06,1.506151e+06,9.220723e+07
211,212,10216,166,9.879264e+07,1.337753e+08,6024,0,175,30,1,...,2,Grondversterking binnenwaarts,0,0.50,0.0,-999.0,-999.0,2.211807e+06,6.538190e+05,1.007464e+08
221,222,10218,171,1.054199e+08,1.134861e+08,6025,0,175,30,1,...,2,Grondversterking binnenwaarts,0,0.50,5.0,-999.0,-999.0,2.585528e+06,3.737209e+05,1.073737e+08
236,237,10234,179,1.094279e+08,1.035534e+08,6033,0,175,30,1,...,2,Grondversterking binnenwaarts,0,0.75,5.0,-999.0,-999.0,3.256919e+06,6.713910e+05,1.113816e+08
353,354,10250,239,1.767603e+08,4.878425e+07,6041,0,175,30,1,...,2,Grondversterking binnenwaarts,0,1.00,5.0,-999.0,-999.0,3.945882e+06,6.889630e+05,1.846838e+08
453,454,10266,289,2.390999e+08,3.731628e+07,6049,0,175,30,1,...,2,Grondversterking binnenwaarts,0,1.25,5.0,-999.0,-999.0,4.652417e+06,7.065350e+05,2.663291e+08

In [550]:
np.diff(optimization_step.total_lcc)
optimization_step.loc[optimization_step.section_id == 30]
#diff lcc
#given section, what is investment
#cumsum
#compare to cost from measure table

<bound method NDFrame.bool of       id  optimization_selected_measure_id  step_number     total_lcc  \
146  147                             10217          123  2.519214e+07
147  148                             10475          123  2.519214e+07
152  153                             10207          126  2.715929e+07
153  154                             10475          126  2.715929e+07
187  188                             10200          154  9.098261e+07
188  189                             10475          154  9.098261e+07
211  212                             10216          166  9.879264e+07
212  213                             10475          166  9.879264e+07
221  222                             10218          171  1.054199e+08
222  223                             10475          171  1.054199e+08
236  237                             10234          179  1.094279e+08
237  238                             10475          179  1.094279e+08
353  354                             10250          239  1.767603e+08
354  355                             10475          239  1.767603e+08
453  454                             10266          289  2.390999e+08
454  455                             10475          289  2.390999e+08

       total_risk  measure_result_id  investment_year  measure_per_section_id  \
146  5.252657e+09               6024               20                     175
147  5.252657e+09               6155                0                     180
152  5.238923e+09               6019               20                     175
153  5.238923e+09               6155                0                     180
187  1.513488e+08               6016                0                     175
188  1.513488e+08               6155                0                     180
211  1.337753e+08               6024                0                     175
212  1.337753e+08               6155                0                     180
221  1.134861e+08               6025                0                     175
222  1.134861e+08               6155                0                     180
236  1.035534e+08               6033                0                     175
237  1.035534e+08               6155                0                     180
353  4.878425e+07               6041                0                     175
354  4.878425e+07               6155                0                     180
453  3.731628e+07               6049                0                     175
454  3.731628e+07               6155                0                     180

     section_id  measure_id  ... combinable_type_id  \
146          30           1  ...                  2
147          30           8  ...                  4
152          30           1  ...                  2
153          30           8  ...                  4
187          30           1  ...                  2
188          30           8  ...                  4
211          30           1  ...                  2
212          30           8  ...                  4
221          30           1  ...                  2
222          30           8  ...                  4
236          30           1  ...                  2
237          30           8  ...                  4
353          30           1  ...                  2
354          30           8  ...                  4
453          30           1  ...                  2
454          30           8  ...                  4

                              name  year  DCREST  DBERM  BETA_TARGET  \
146  Grondversterking binnenwaarts     0    0.50    0.0   -999.00000
147           Aanpassing bekleding     0 -999.00 -999.0      4.58479
152  Grondversterking binnenwaarts     0    0.25   10.0   -999.00000
153           Aanpassing bekleding     0 -999.00 -999.0      4.58479
187  Grondversterking binnenwaarts     0    0.25    0.0   -999.00000
188           Aanpassing bekleding     0 -999.00 -999.0      4.58479
211  Grondversterking binnenwaarts     0    0.50    0.0   -999.00000
212           Aanpassing bekleding     0 -999.00 -999.0      4.58479
221  Grondversterking binnenwaarts     0    0.50    5.0   -999.00000
222           Aanpassing bekleding     0 -999.00 -999.0      4.58479
236  Grondversterking binnenwaarts     0    0.75    5.0   -999.00000
237           Aanpassing bekleding     0 -999.00 -999.0      4.58479
353  Grondversterking binnenwaarts     0    1.00    5.0   -999.00000
354           Aanpassing bekleding     0 -999.00 -999.0      4.58479
453  Grondversterking binnenwaarts     0    1.25    5.0   -999.00000
454           Aanpassing bekleding     0 -999.00 -999.0      4.58479

     TRANSITION_LEVEL  standalone_cost  marginal_cost  check_cost_total
146           -999.00     2.211807e+06   1.224624e+06      2.519214e+07
147              3.25     0.000000e+00   0.000000e+00      2.519214e+07
152           -999.00     2.305430e+06   5.183671e+04      2.715929e+07
153              3.25     0.000000e+00   0.000000e+00      2.715929e+07
187           -999.00     1.557988e+06   1.506151e+06      9.220723e+07
188              3.25     0.000000e+00   0.000000e+00      9.220723e+07
211           -999.00     2.211807e+06   6.538190e+05      1.007464e+08
212              3.25     0.000000e+00   0.000000e+00      1.007464e+08
221           -999.00     2.585528e+06   3.737209e+05      1.073737e+08
222              3.25     0.000000e+00   0.000000e+00      1.073737e+08
236           -999.00     3.256919e+06   6.713910e+05      1.113816e+08
237              3.25     0.000000e+00   0.000000e+00      1.113816e+08
353           -999.00     3.945882e+06   6.889630e+05      1.846838e+08
354              3.25     0.000000e+00   0.000000e+00      1.846838e+08
453           -999.00     4.652417e+06   7.065350e+05      2.663291e+08
454              3.25     0.000000e+00   0.000000e+00      2.663291e+08

[16 rows x 22 columns]>

In [539]:
optimization_step.loc[(optimization_step.step_number > 152) & (optimization_step.step_number < 156)]

,id,optimization_selected_measure_id,step_number,total_lcc,total_risk,measure_result_id,investment_year,measure_per_section_id,section_id,measure_id,...,combinable_type_id,name,year,DCREST,DBERM,BETA_TARGET,TRANSITION_LEVEL,standalone_cost,marginal_cost,check_cost_total
185,186,9508,153,9.070108e+07,1.515905e+08,5619,0,163,28,1,...,2,Grondversterking binnenwaarts,0,0.00,5.0,-999.000000,-999.00,3.007782e+04,0.000000e+00,9.070108e+07
186,187,9814,153,9.070108e+07,1.515905e+08,5782,0,168,28,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,3.458466,2.50,1.377185e+04,2.295308e+03,9.070108e+07
187,188,10200,154,9.098261e+07,1.513488e+08,6016,0,175,30,1,...,2,Grondversterking binnenwaarts,0,0.25,0.0,-999.000000,-999.00,1.557988e+06,1.506151e+06,9.220723e+07
188,189,10475,154,9.098261e+07,1.513488e+08,6155,0,180,30,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,4.584790,3.25,0.000000e+00,0.000000e+00,9.220723e+07
189,190,8529,155,9.157036e+07,1.481233e+08,5065,0,145,25,1,...,2,Grondversterking binnenwaarts,0,0.25,0.0,-999.000000,-999.00,1.316855e+06,1.316855e+06,9.352409e+07
190,191,8828,155,9.157036e+07,1.481233e+08,5228,0,150,25,8,...,4,Aanpassing bekleding,0,-999.00,-999.0,4.668755,2.35,1.654749e+05,0.000000e+00,9.352409e+07

In [517]:
step_number_list = optimization_step[optimization_step["investment_year"] != 0]["step_number"].unique()
print(step_number_list)

[117 118 121 123 126 128 152 156 163 167 170 172 190 191 210 227 233 242
 245 248 249 255 256]

In [518]:
sql_query = 'SELECT * FROM OptimizationRun WHERE optimization_type_id = {}'.format(optimization_run_id)
optimization_run = pd.read_sql_query(sql_query, conn)
discount_rate = optimization_run["discount_rate"].values[0]
print(discount_rate)

0.03

In [535]:
step_number_list = optimization_step[optimization_step["total_lcc"] != optimization_step["check_cost_total"]]["step_number"].unique()
print(step_number_list)
print(optimization_step.iloc[-1]["check_cost_total"] - optimization_step.iloc[-1]["total_lcc"])
print(optimization_step.iloc[187]["check_cost_total"] - optimization_step.iloc[187]["total_lcc"])
print(optimization_step.iloc[187]["check_cost_total"])
print(optimization_step.iloc[187]["total_lcc"])

[126 127 128 129 130 131 132 133 134 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297]
27229147.18453607
1224623.7761653513
92207234.53686096
90982610.7606956

In [534]:
# Closing the connection to the database
# conn.close()